<%- include('../partials/header') %>
<form id="new-form" action="/destinations" method="POST">
  <label>Destnation</label>
  <input type="text" name="airport">
  <input type="submit" value="Add Destnation">
</form>
<%- include('../partials/footer') %>