<%- include('../partials/header') %>
<% flights.sort() %>
<%flights.forEach((flight)=>{ %>

<p><%= `${flight.airline} | ${flight.airport} | ${flight.flightNo} | ${flight.departure.toUTCString()}`  %></p>

<% }) %>
<%- include('../partials/footer') %>