<%- include('../partials/header') %>
<% flights.sort() %>
<%flights.forEach((flight)=>{ %>


<p>
  <%= `${flight.airline} | ${flight.airport} | ${flight.flightNo} | ${flight.departure.toLocaleString()}`  %>
  <a href="/flights/<%= flight._id %>">Details</a>
</p>



<% }) %>
<%- include('../partials/footer') %>