<%- include('../partials/header') %>
<form id="new-form" action="/flights" method="POST">

  <div>
    <label>Airline:</label>
    <input type="text" name="airline">
  </div>

  <div>
    <label>Airport:</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="JFK">JFK</option>
    </select>
  </div>

  <div>
    <label>Flight Number:</label>
    <input type="number" name="flightNo">
  </div>

  <div>
    <label>Departure Date:</label>
    <input type="datetime-local" name="departure">
  </div>

  <div>
    <input type="submit" value="Add Flight">
  </div>

</form>
<%- include('../partials/footer') %>