<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <input type="text" name="airline">
  <label>Airport:</label>
  <select name="airport">
    <option value="aus">AUS</option>
    <option value="dfw">DFW</option>
    <option value="den">DEN</option>
    <option value="lax">LAX</option>
    <option value="jfk">JFK</option>
  </select>
  <label>Flight Number:</label>
  <input type="number" name="flightNo">
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>